body {
    background-color: #333333;
    color: azure;
}
.grid{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
    width: 280px;
}
.grid div{
    height: 40px;
    width: 40px;
}
.player-one{
    background-color: blue;
    border-radius: 20px;
}
.player-two{
    background-color: red;
    border-radius: 20px;
}